@page "/vehicle"
@using BitTagDAL
@using BitTagModels
@using BitTagUser.CutomerServices;
@inject IVehicle veh


@* <EditForm Model="vehicle" OnSubmit="SaveVehicle">
    <label >Make</label>
    @*<input type="text" @bind-value="vehicle.vehicleMake" /><br />*@
   @* <select @bind="@selected">
        @foreach(var item in make)
        {
            <option value="@item">@item</option>
        }
    </select>

    <label>Model</label>
    <input type="text" @bind-value="vehicle.vehicleModel" /><br />
    <label>Plate</label>
    <input type="text" @bind-value="vehicle.vehiclePlate" /><br />
    <label>type</label>
    <input type="text" @bind-value="vehicle.vehicleType" /><br />
    <label>color</label>
    <input type="text" @bind-value="vehicle.vehicleColor" /><br />
    <button type="submit">Save</button>
</EditForm>

<table class="tble table">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Plate</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in vehicleList)
    {
        <tr>
            <td>@item.vehicleMake</td>
            <td>@item.vehicleModel</td>
            <td>@item.vehiclePlate</td>
            <td>
                <button @onclick="(()=>DeleteVehicle(item.vehicleID))">Delete</button>
            </td>
            @*<td>
                <button><a href="vehicle/@item.custID.ToString()">Add Vehicle</a></button>
            </td>
        </tr>
    }
</table> *@

<div class="container container-fluid mt-5">
    <div class="card bg-white">
        <article class="card-body mx-auto" style="max-width: 600px;">
            <h4 class="text-center fw-bold">Basic Information</h4>
            <EditForm Model="vehicle" OnSubmit="SaveVehicle">
                <div class="form-group input-group mb-1 mt-4" style="width: 550px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="oi oi-person"></i> </span>
                    </div>
                    @* <input class="form-control" @bind-value="vehicle.vehicleMake" required> *@
                    <select @bind="@selected">
                        @foreach (var item in make)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="oi oi-person"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Model" type="text" @bind-value="vehicle.vehicleModel" required>
                </div> <!-- form-group// -->
                <div class="form-group input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="oi oi-book"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Plate" type="text" @bind-value="vehicle.vehiclePlate" required>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="oi oi-book"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Type" type="text" @bind-value="vehicle.vehicleType" required>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="oi oi-book"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Color" type="text" @bind-value="vehicle.vehicleColor" required>
                </div> <!-- form-group// -->
                
                <div class="form-group" style="display:flex; justify-content:center;">
                    <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                </div> <!-- form-group// -->
            </EditForm>
        </article>
    </div> <!-- card.// -->

</div>

@if (vehicle != null)
{
    @foreach (var item in vehicleList)
    {
        <div class="container container-fluid mt-5">
            <div class="card bg-white">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="text-center fw-bold">Vehicle Information</h4>

                    <div class="form-group input-group mb-1 mt-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="oi oi-person"></i> </span>
                        </div>
                        <input class="form-control" @bind-value="item.vehicleMake" readonly>
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="oi oi-person"></i> </span>
                        </div>
                        <input class="form-control" type="text" @bind-value="item.vehicleModel" readonly>
                    </div> <!-- form-group// -->
                    <div class="form-group input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="oi oi-book"></i> </span>
                        </div>
                        <input class="form-control" @bind-value="item.vehiclePlate" readonly>
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="oi oi-book"></i> </span>
                        </div>
                        <input class="form-control" @bind-value="item.vehicleType" readonly>
                    </div> <!-- form-group// -->
                    <div class="form-group input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="oi oi-box"></i> </span>
                        </div>
                        <input class="form-control" @bind-value="item.vehicleColor" readonly>
                    </div>
                    
                </article>
            </div> <!-- card.// -->

        </div>
    }

}


@code {
    //[Parameter]
    //public string custID_FK { get; set; }
    VehicleModel vehicle = new VehicleModel();
    List<VehicleModel> vehicleList = new List<VehicleModel>();


    private string? selected{ get; set; }
    List<string> make = new List<string>
    {
        "Suzuki","Honda","Toyota","Hyundai"
    };

    string userid = "3fa85f64-5717-4562-b3fc-2c963f66afad";
    private async void SaveVehicle()
    {
        Guid id = Guid.NewGuid();
        vehicle.tagID = id;
        vehicle.custID_FK = Guid.Parse(userid);
        vehicle.vehicleID = Guid.NewGuid();
        vehicle.vehicleMake = selected;
        await veh.SaveVehicle(vehicle);
    }
    private async Task DeleteVehicle(Guid id)
    {
        await veh.DeleteVehicle(id);
    }
    private async Task LoadData()
    {
        vehicleList = await veh.GetVehicleModels();
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

}
