@page "/vehicle/{custID_FK}/{custCNIC}"
@using BitTagDAL
@using BitTagModels
@using BitTagUser.CutomerServices;
@inject IVehicle veh
@inject NavigationManager nm;
@attribute [Authorize(Roles = "Administrator,User")]

<div class="p-4 sm:ml-64 h-full">
    <div class="p-1 rounded-lg main-color" style="width: 100%; height: 100%;">
        <h1 align="center" class="text-gray-100 text-4xl mt-10 font-bold">Vehicle Information</h1>
        <form class="max-w-sm mx-auto mt-10">
            <EditForm Model="vehicle" OnSubmit="SaveVehicle">
                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="mb-5">
                        <label for="vehicleMake" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Vehicle Make: *</label>
                        <select @bind="@selected" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            @foreach (var item in make)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                    <div class="mb-5">
                        <label for="vehicleModel" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Vehicle Model: *</label>
                        <select @bind="@modelSelect" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            @foreach (var item in model)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="mb-5">
                        <label for="vehiclePlate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Plate: *</label>
                        <input type="text" @bind-value="@vehicle.vehiclePlate" id="vehiclePlate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="RX901" required>
                    </div>
                    <div class="mb-5">
                        <label for="vehicleTransmission" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Transmission: *</label>
                        <select @bind="@transmissionSelect" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            @foreach (var item in trm)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="grid">

                    <div class="mb-5">
                        <label for="vehColor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Color: *</label>
                        <select @bind="@colorSelect" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            @foreach (var item in clr)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </div>
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add Vehicle</button>
            </EditForm>
        </form>

        <div class="overflow-x-auto rounded-lg border border-gray-200 mt-20 ml-4 mr-4 mb-5">
            <table class="min-w-full divide-y-2 divide-gray-200 soft-color text-sm ">
                <thead>
                    <tr>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Make</th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Model</th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Transmission</th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Plate</th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Color</th>
                    </tr>
                </thead>

                <tbody class="divide-y divide-gray-200">
                    @foreach (var item in vehicleList)
                    {
                        <tr>
                            <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">@item.vehicleMake</td>
                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">@item.vehicleModel</td>
                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">@item.vehicleType</td>
                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">@item.vehiclePlate</td>
                            <td class="whitespace-nowrap px-4 py-2 text-gray-700">@item.vehicleColor</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>





</div>







@code {
    [Parameter]
    public string custID_FK { get; set; }
    [Parameter]
    public string custCNIC { get; set; }
    VehicleModel vehicle = new VehicleModel();
    List<VehicleModel> vehicleList = new List<VehicleModel>();
    private string msg;
    private int modelSelect { get; set; }
    List<int> model = new List<int>
{
    1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
    2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
    2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
    2020, 2021, 2022, 2023, 2024
};


    private string selected{ get; set; }
    List<string> make = new List<string>
    {
        "Suzuki","Honda","Toyota","Hyundai","Tesla","Daihatsu","Mitsubishi","Lamborghini","Porsche","MG","Others"
    };

    private string transmissionSelect { get; set; }
    List<string> trm = new List<string>
    {
        "Automatic","Manual"
    };
    private string colorSelect { get; set; }
    List<string> clr = new List<string>
{
    "White", "Black", "Silver", "Red", "Blue", "Gray", "Green", "Brown", "Yellow",
    "Orange", "Beige", "Gold", "Purple", "Pink", "Turquoise", "Maroon", "Magenta",
    "Teal", "Charcoal", "Coral Blue"
};


    //string userid = "3fa85f64-5717-4562-b3fc-2c963f66afad";
    private async void SaveVehicle()
    {
        Guid id = Guid.NewGuid();
        vehicle.tagID = id;
        vehicle.custID_FK = Guid.Parse(custID_FK);
        vehicle.vehicleID = Guid.NewGuid();
        vehicle.vehicleMake = selected;
        vehicle.vehicleModel = modelSelect;
        vehicle.vehicleType = transmissionSelect;
        vehicle.vehicleColor = colorSelect;
        await veh.SaveVehicle(vehicle);
        nm.NavigateTo("/custWorkInfo/" + custID_FK + "/" + vehicle.vehicleID);
        msg = "Data Added Successfully";
        nm.NavigateTo("/custWorkInfo/"+custID_FK+"/"+vehicle.vehicleID);
    }
    private async Task DeleteVehicle(Guid id)
    {
        await veh.DeleteVehicle(id);
    }
    private async Task LoadData()
    {
        vehicleList = await veh.GetVehicleModelByID(custCNIC);
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

}
