@page "/orgEmployees/{orgID_FK}"
@using BitTagWebAPP.Services;
@inject IOrgEmployees orgEmp
@using BitTagDAL
@using BitTagModels
<PageTitle>Employees Registration</PageTitle>


<form class="max-w-sm mx-auto pt-8">
    <center style="margin-bottom: 40px; "><h1 class="text-2xl font-bold text-gray-900">Register Organization</h1></center>
    <EditForm Model="orgEmpModel" OnValidSubmit="SaveOrgEmp">
        <div class="mb-5">
            <label for="organizationName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name: *</label>
            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="First Name" type="text" @bind-value="orgEmpModel.Emp_firstName" required>
        </div>
        <div class="mb-5">
            <label for="organizationType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name: *</label>
            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Last Name" type="text" @bind-value="orgEmpModel.Emp_lastName" required>
        </div>
        <div class="mb-5">
            <label for="organizationAddress" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">C-NIC: *</label>
            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="C-NIC" type="text" @bind-value="orgEmpModel.Emp_CNIC" required>
        </div>
        <div class="mb-5">
            <label for="qtyRequired" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">PIN: *</label>
            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="PIN" type="number" @bind-value="orgEmpModel.Pin" required>
        </div>
        <div class="mb-5">
            <label for="qtyRequired" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Designation: *</label>
            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Designation" type="text" @bind-value="orgEmpModel.Designation" required>
        </div>
        <div class="mb-5">
            <label for="qtyRequired" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone: *</label>
            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Phone" type="number" @bind-value="orgEmpModel.PhoneNum" required>
        </div>

        <div class="mb-5">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register</button>
        </div>
    </EditForm>

</form>



<section class="-mt-40">
    <div class="gradient-custom-1 h-screen">
        <div class="flex items-center justify-center h-full">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="overflow-x-auto bg-blue-100 shadow-lg rounded">
                            <table class="table-auto w-full">
                                <thead>
                                    <tr>
                                        <th scope="col" class="px-4 py-2">FIRST NAME</th>
                                        <th scope="col" class="px-4 py-2">LAST NAME</th>
                                        <th scope="col" class="px-4 py-2">CNIC</th>
                                        <th scope="col" class="px-4 py-2">DESIGNATION</th>
                                        <th scope="col" class="px-4 py-2">PHONE</th>
                                        <th scope="col" class="px-4 py-2">ACTION</th>
                                        <th scope="col" class="px-4 py-2">MORE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in orgEmpList)
                                    {
                                        <tr>
                                            <td class="px-4 py-2">@item.Emp_firstName</td>
                                            <td class="px-4 py-2">@item.Emp_lastName</td>
                                            <td class="px-4 py-2">@item.Emp_CNIC</td>
                                            <td class="px-4 py-2">@item.Designation</td>
                                            <td class="px-4 py-2">@item.PhoneNum</td>
                                            <td class="px-4 py-2">
                                                <button class="px-2 py-1 bg-red-500 text-white rounded" @onclick="(()=>DeleteOrgEmployee(item.Emp_ID))">Delete</button>
                                            </td>
                                            <td class="px-4 py-2">
                                                <button class="px-2 py-1 bg-blue-800 text-white rounded"><a href="assignqrtouser/@item.Emp_CNIC">Assign BitTag</a></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    [Parameter]
    public string? orgID_FK { get; set; }
    private string msg { get; set; }
    private Orgnization_EmployeeModel orgEmpModel = new Orgnization_EmployeeModel();
    List<Orgnization_EmployeeModel> orgEmpList = new List<Orgnization_EmployeeModel>();
    private async void SaveOrgEmp()
    {
        Guid id = Guid.NewGuid();
        orgEmpModel.Emp_ID = id;
        orgEmpModel.orgID_FK = Guid.Parse(orgID_FK);
        await orgEmp.SaveOrgEmployees(orgEmpModel);
        await LoadData();
        orgEmpModel = new Orgnization_EmployeeModel();
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }
    private async Task LoadData()
    {
        orgEmpList = await orgEmp.GetOrgEmployeesByID(Guid.Parse(orgID_FK));
    }
    private async void DeleteOrgEmployee(Guid id)
    {
        await orgEmp.DeleteOrgEmployees(id);
        LoadData();
    }
}
