@page "/listorganizations"
@using BitTagWebAPP.Services;
@inject IOrganizations Orgs
@using BitTagDAL
@using BitTagModels

<PageTitle>Organization's List</PageTitle>

@if (organizationList is null)
{
    <p><em>Nothing to display here...</em></p>
}

else
{
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="padding-top: 90px;">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Category
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Qty
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                    <th scope="col" class="px-6 py-3">
                        More
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in organizationList)
                {
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">
                            @item.orgID
                        </td>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            @item.orgName
                        </th>
                        <td class="px-6 py-4">
                            @item.orgType
                        </td>
                        <td class="px-6 py-4">
                            @item.orgAddress
                        </td>
                        <td class="px-6 py-4">
                            @item.orgCapacity
                        </td>
                        <td class="px-6 py-4">
                            <a href="" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Add Employee</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}




@code {
    List<OrganizationModel> organizationList = new List<OrganizationModel>();
}
