@page "/organization"
@using BitTagWebAPP.Services;
@inject IOrganizations Orgs
@using BitTagDAL
@using BitTagModels


@* <EditForm Model="OrgModel" OnSubmit="SaveOrganization">
    @*<label class="col-1">OrgID</label>
    <input class="col-2" type="text" @bind-value="OrgModel.orgID" /><br />*@
  @*  <label class="col-1">OrgName</label>
    <input class="col-2" type="text" @bind-value="OrgModel.orgName" /><br />
    <label class="col-1">OrgType</label>
    <input class="col-1" type="text" @bind-value="OrgModel.orgType" /><br />
    <label>OrgAddress</label>
    <input type="text" @bind-value="OrgModel.orgAddress" /><br />
    <label>Capacity</label>
    <input type="text" @bind-value="OrgModel.orgCapacity" /><br />
    <button type="submit">Save</button>
</EditForm>

<table class="tble table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Capacity</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in organizationList)
    {
        <tr>
            <td>@item.orgName</td>
            <td>@item.orgType</td>
            <td>@item.orgCapacity</td>
            <td>
                <button @onclick="(()=>DeleteOrganization(item.orgID))">Delete</button>
            </td>
            <td>
                <button><a href="orgEmployees/@item.orgID.ToString()">Add Employee</a></button>
            </td>
        </tr>
    }
</table> *@

@* <div class="container container-fluid mt-5">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4>Register your Organization</h4>
            <EditForm Model="OrgModel" OnSubmit="SaveOrganization">
                <div class="form-group input-group mb-1 mt-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="oi oi-account-login"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Organization Name" type="text" @bind-value="OrgModel.orgName" required>
                </div> <!-- form-group// -->
                <div class="form-group input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="oi oi-account-login"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Organization's Type" type="text" @bind-value="OrgModel.orgType" required>
                </div> <!-- form-group// -->
                <div class="form-group input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="oi oi-dashboard"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Organization's Address" @bind-value="OrgModel.orgAddress" type="text" required>
                </div>
                <div class="form-group input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="oi oi-dashboard"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Organization's Capacity" type="number" @bind-value="OrgModel.orgCapacity" required>
                </div>

                <div class="form-group" style="display:flex; justify-content:center;">
                    <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                </div> <!-- form-group// -->
            </EditForm>
        </article>
    </div> <!-- card.// -->

</div>

<section class="intro">
    <div class="gradient-custom-1 h-100">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="table-responsive bg-white">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">ORGANIZATION</th>
                                        <th scope="col">TYPE</th>
                                        <th scope="col">ADDRESS</th>
                                        <th scope="col">QTY</th>
                                        <th scope="col">ACTION</th>
                                        <th scope="col">MORE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in organizationList)
                                    {
                                        <tr>
                                            <td>@item.orgName</td>
                                            <td>@item.orgType</td>
                                            <td>@item.orgAddress</td>
                                            <td>@item.orgCapacity</td>
                                            <td>
                                                <button @onclick="(()=>DeleteOrganization(item.orgID))">Delete</button>
                                            </td>
                                            <td>
                                                <button><a href="orgEmployees/@item.orgID.ToString()">Add Employee</a></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@

<div>
    <div style="background: #68B0AB; border-radius: 9px; width: 500px; margin: 0 auto;">
        <form class="max-w-md mx-auto">
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="floating_name" id="floating_name" class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="" required />
                <label for="floating_name" class="peer-focus:font-medium absolute text-sm text-black dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Organization Name</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="floating_address" id="floating_address" class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="" required />
                <label for="floating_address" class="peer-focus:font-medium absolute text-sm text-black dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Organization Address</label>
            </div>

            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="floating_category" id="floating_category" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                    <label for="floating_category" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Category</label>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input type="number" name="floating_qty" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                    <label for="floating_qty" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Quantity</label>
                </div>
            </div>

            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>
    </div>

</div>




@code {
    OrganizationModel OrgModel = new OrganizationModel();
    List<OrganizationModel> organizationList = new List<OrganizationModel>();
    private async void SaveOrganization()
    {
        Guid id = Guid.NewGuid();
        OrgModel.orgID = id;
        await Orgs.SaveOrganizations(OrgModel);
        await LoadData();

    }

    protected override async Task OnInitializedAsync()
    {
       await LoadData();
    }
    private async void DeleteOrganization(Guid id)
    {
        await Orgs.DeleteOrganizations(id);
    }

    private async Task LoadData()
    {
        organizationList = await Orgs.GetOrganizations();
    }
}
