@page "/organization"
@using BitTagWebAPP.Services;
@inject IOrganizations Orgs
@using BitTagDAL
@using BitTagModels


@* <EditForm Model="OrgModel" OnSubmit="SaveOrganization">
    @*<label class="col-1">OrgID</label>
    <input class="col-2" type="text" @bind-value="OrgModel.orgID" /><br />*@
  @*  <label class="col-1">OrgName</label>
    <input class="col-2" type="text" @bind-value="OrgModel.orgName" /><br />
    <label class="col-1">OrgType</label>
    <input class="col-1" type="text" @bind-value="OrgModel.orgType" /><br />
    <label>OrgAddress</label>
    <input type="text" @bind-value="OrgModel.orgAddress" /><br />
    <label>Capacity</label>
    <input type="text" @bind-value="OrgModel.orgCapacity" /><br />
    <button type="submit">Save</button>
</EditForm>

<table class="tble table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Capacity</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in organizationList)
    {
        <tr>
            <td>@item.orgName</td>
            <td>@item.orgType</td>
            <td>@item.orgCapacity</td>
            <td>
                <button @onclick="(()=>DeleteOrganization(item.orgID))">Delete</button>
            </td>
            <td>
                <button><a href="orgEmployees/@item.orgID.ToString()">Add Employee</a></button>
            </td>
        </tr>
    }
</table> *@

@* <div class="container container-fluid mt-5">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4>Register your Organization</h4>
            <EditForm Model="OrgModel" OnSubmit="SaveOrganization">
                <div class="form-group input-group mb-1 mt-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="oi oi-account-login"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Organization Name" type="text" @bind-value="OrgModel.orgName" required>
                </div> <!-- form-group// -->
                <div class="form-group input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="oi oi-account-login"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Organization's Type" type="text" @bind-value="OrgModel.orgType" required>
                </div> <!-- form-group// -->
                <div class="form-group input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="oi oi-dashboard"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Organization's Address" @bind-value="OrgModel.orgAddress" type="text" required>
                </div>
                <div class="form-group input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="oi oi-dashboard"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Organization's Capacity" type="number" @bind-value="OrgModel.orgCapacity" required>
                </div>

                <div class="form-group" style="display:flex; justify-content:center;">
                    <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                </div> <!-- form-group// -->
            </EditForm>
        </article>
    </div> <!-- card.// -->

</div>

<section class="intro">
    <div class="gradient-custom-1 h-100">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="table-responsive bg-white">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">ORGANIZATION</th>
                                        <th scope="col">TYPE</th>
                                        <th scope="col">ADDRESS</th>
                                        <th scope="col">QTY</th>
                                        <th scope="col">ACTION</th>
                                        <th scope="col">MORE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in organizationList)
                                    {
                                        <tr>
                                            <td>@item.orgName</td>
                                            <td>@item.orgType</td>
                                            <td>@item.orgAddress</td>
                                            <td>@item.orgCapacity</td>
                                            <td>
                                                <button @onclick="(()=>DeleteOrganization(item.orgID))">Delete</button>
                                            </td>
                                            <td>
                                                <button><a href="orgEmployees/@item.orgID.ToString()">Add Employee</a></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@


<form class="max-w-sm mx-auto" style="padding-top: 120px;">
        <EditForm Model="OrgModel" OnSubmit="SaveOrganization">
        <div class="mb-5">
            <label for="organizationName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Organization Name: *</label>
            <input type="text" @bind-value="OrgModel.orgName" id="organizationName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Air University" required>
        </div>
        <div class="mb-5">
            <label for="organizationType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Organization's Type: *</label>
            <input type="text" @bind-value="OrgModel.orgType" id="organizationType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Educational" required>
        </div>
        <div class="mb-5">
            <label for="organizationAddress" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Organization's Address: *</label>
            <input type="text" @bind-value="OrgModel.orgAddress" id="organizationAddress" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="E-9, Islamabad" required>
        </div>
        <div class="mb-5">
            <label for="qtyRequired" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity (of BitTags) required: *</label>
            <input type="text" @bind-value="OrgModel.orgCapacity" id="qtyRequired" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="500" required>
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </EditForm>
</form>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg" >
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3"> 
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Qty
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
                <th scope="col" class="px-6 py-3">
                    More
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in organizationList)
            {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">
                        @item.orgID
                    </td>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        @item.orgName
                    </th>
                    <td class="px-6 py-4">
                        @item.orgType
                    </td>
                    <td class="px-6 py-4">
                        @item.orgAddress
                    </td>
                    <td class="px-6 py-4">
                        @item.orgCapacity
                    </td>
                    <td class="px-6 py-4">
                        <a href="" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Add Employee</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>





@code {
    OrganizationModel OrgModel = new OrganizationModel();
    List<OrganizationModel> organizationList = new List<OrganizationModel>();
    private async void SaveOrganization()
    {
        Guid id = Guid.NewGuid();
        OrgModel.orgID = id;
        await Orgs.SaveOrganizations(OrgModel);
        await LoadData();

    }

    protected override async Task OnInitializedAsync()
    {
       await LoadData();
    }
    private async void DeleteOrganization(Guid id)
    {
        await Orgs.DeleteOrganizations(id);
    }

    private async Task LoadData()
    {
        organizationList = await Orgs.GetOrganizations();
    }
}
